.main {
	background-image: url(/src/images/bg/food-wallpaper.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex; 
    flex-direction: column;
	justify-content: center;
    text-align: center;
	margin: auto;
    gap: 3rem;
    padding-bottom: 10rem;
}

.box__cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.box__title{
    font-size: 24pt;
    font-weight: bold;
}

.card {
    background-color: var(--color-gray-1-opacity);
    border-radius: 2rem;
    padding: 3rem;
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-weight: bold;
}

.card__label {
    font-size: 16pt;
}

.card__map {
    border-radius: 1rem;
    width: 200px;
    height: 133px;
}

.card__link {
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--blue);
}

.card__link:hover {
    background-color: var(--blue-hover);
}