@media (max-width: 1440px){
	.front {
		background-position:right;
		background-clip: content-box
	}

}

@media (max-width: 1024px){
	.section{
		flex-direction: column;
		height: 100vh;
		width: 100vw;
		gap: 3rem;
		align-items: center;
		justify-content: center;
	}
	
	.front__text{
		align-items: self-start;
		margin: auto;
		width: 95vw;
		height: 100%;
		padding: 2rem;
		margin-bottom: 5rem ;
	}
}

@media (max-width: 768px){
	.front__title{
		align-items: center;
		width: 80%;
	}
	.front__title,.main__h1 , .front__title span {
		font-size: 18pt;
	}
	.front_text{
		align-items: center;
		margin: auto;
		width: 100%;
	}
	.front__donate {
		display: flex;

		justify-content: center;
		width: 100%;
	}
	.front__link {
		text-align: center;
		padding: 1rem 1rem;
		width: 15rem;
	}
}